@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";

    Console.WriteLine("Ciao");
    ;
}



<div class="text-center m-auto w-50">
    <h1>Work In Progress</h1>
   
</div>



@section FooterSection{
    <footer class="border-top footer text-white d-flex align-items-center">
        <div class="container ">
            &copy; 2022 - Pizzeria da Davide - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
}
